<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Nodejs</title>
  </head>
  <body>
    <h1>Contact Us</h1>
    <%= data.who %> <%= data.department %> <%= data.email %>
  </body>
</html>
